#parse("glossary_macro.vm")
| DB Name | Bean Name | Name | Glossary |
|---|---|---|---|
#foreach ( $entity in $model.allEntities )
|  [${entity.databaseTable}](./entity/${entity.name}) | #glossaryBean(${entity.databaseTable}) | #glossaryName(${entity.databaseTable}) | #checkGlossary(${entity.databaseTable}) |
#end
