#checkId($entity)
#parse("glossary_macro.vm")
# [entities](../entities)


Name: **#glossaryCapitalize(${entity.databaseTable} " ")**

Bean: **#glossaryBean(${entity.databaseTable})**

Table: **${entity.databaseTable}**

---

| DB Name | Field Name | Name | Glossary |
|---|---|---|---|
#foreach($field in ${entity.keyAttributes})
| ${field.databaseName} | #glossaryField(${field.databaseName}) | #glossaryName(${field.databaseName}) | #checkGlossary(${field.databaseName}) |
#end
#foreach( $field in $entity.nonKeyAttributes )
| ${field.databaseName} | #glossaryField(${field.databaseName}) | #glossaryName(${field.databaseName}) | #checkGlossary(${field.databaseName}) |
#end
---

#macro ( drawSimpleEntityWithFk $entity)
entity ${entity.databaseTable} {
#foreach($field in ${entity.keyAttributes})
    ${field.databaseName}
#end
}
#end
```plantuml
entity ${entity.databaseTable} {
#foreach($field in ${entity.keyAttributes})
    ${field.databaseName}: ${field.sqlColumnType} | #glossaryField(${field.databaseName})
#end

--
#foreach( $field in $entity.nonKeyAttributes )
    ${field.databaseName}: ${field.sqlColumnType} | #glossaryField(${field.databaseName})

#end
}
```

#if(!${entity.references.isEmpty()})
---

Direct relationships:

#foreach($reference in $entity.references )
- [${reference.entity.databaseTable}](./${reference.entity.name})
#end

```plantuml
#drawSimpleEntityWithFk(${entity})
#foreach($reference in $entity.references )
#drawSimpleEntityWithFk(${reference.entity})
#end
#foreach($reference in $entity.references )
#if(${reference.toMany})
${entity.databaseTable} ||--|{ ${reference.entity.databaseTable}
note right on link
${entity.databaseTable}
#foreach($fk in ${entity.databaseForeignKeys} )
#foreach($attr in ${fk.attributes})
  - ${attr.originAttribute.databaseName}
#end
#end

#foreach($fk in ${reference.entity.databaseForeignKeys} )
#foreach($attr in ${fk.attributes})
  - ${attr.originAttribute.databaseName}
#end
#end
${reference.entity.databaseTable}
end note
#end
#if(${reference.toOne})
${entity.databaseTable}  }|--|| ${reference.entity.databaseTable}
note right on link
${entity.databaseTable}
#foreach($fk in ${entity.databaseForeignKeys} )
#foreach($attr in ${fk.attributes})
  - ${attr.originAttribute.databaseName}
#end
#end

#foreach($fk in ${reference.entity.databaseForeignKeys} )
#foreach($attr in ${fk.attributes})
  - ${attr.originAttribute.databaseName}
#end
#end
${reference.entity.databaseTable}
end note
#end
#end

```
#end
